<?xml version="1.0" encoding="utf-8"?>
    <packages>
        <package id="bitwarden" />
        <package id="firefox" />
        <package id="git" />
        <package id="googledrive" />
        <!-- Not working atm -->
        <!-- <package id="pyenv-win" /> -->
        <package id="python" /> <!-- TODO delete when pyenv-win is fixed -->
        <package id="telegram" />
        <package id="thunderbird" />
        <package id="vscode" />
        <package id="whatsapp" />
    </packages>
