<?xml version="1.0" encoding="utf-8"?>
    <packages>
        <package id="element-desktop" />
        <package id="javaruntime" />
        <package id="jitsi-meet-electron" />
        <package id="microsoft-teams" />
        <package id="nvm" />
        <!-- Not working atm -->
        <!-- <package id="pyenv-win" /> -->
        <package id="python" /> <!-- TODO delete when pyenv-win is fixed -->
        <package id="vagrant" />
        <package id="virtualbox" />
    </packages>
